html, body { min-height: 100% }

::selection {
  color: white;
  background: #F74E45;
}

html {
  font: "Roboto" 20px;
  font-weight: 300;
  text-align: justify;
}

body {
  box-sizing: border-box;
  border: 2vw solid #F74E45;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-container {
  margin: 0 2vw 0 8vw;
}

.page-header {
  display: flex;
}

.page-title {
  font: 100px "Roboto";
  font-weight: 300;
  margin: 0;
  line-height: 1;
}

.me-photo {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100px;
  margin-right: 25px;
}

.about-me {
  font: 30px "Lora";
  padding-right: 20px;
  text-align: justify;
}

a:hover {
  color: #42C0FF;
}

a:active {
  color: #B0E5FF !important;
}

@media (max-width: 720px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .page-title {
    font-size: 72px;
  }
  .body-container {
    margin: 2vh 1vw;
  }
  .nav-list {
    margin: 5px 0 25px;
  }
  .nav-list li {
    border-bottom: 1px solid black;
  }
  .about-me {
    font-size: 16px;
    text-align: justify;
  }
}
